#wrap
  .change-btn
    この文字押したら切り替わるよ( ^__^ )
  
  .bottom1
    = form_tag(coordinations_path,:method => 'get') do
      .searchh
        = text_field_tag :search, "", {placeholder: "コーディネイト検索"}
        = submit_tag 'Search', :name => nil
    - @coordinationss.each do |coordinations|
      .title-all
        = link_to coordinations.coordination, coordination_path(coordinations[:id]), class: "mono"
        = link_to "お気に入り", coordination_favorites_path(coordinations[:id]), method: :post, class: "like-btn"
  .allimage
    .aass
      .aaff
        %label(for="label1")アウター一覧
        %input(type="checkbox" id="label1")
        .aadd
          - @outers.each do |outer|
            .aahh
              = image_tag outer.outer
              = link_to "削除", outer_path(outer.id), method: :delete, class: "pic-btn"
      .aaff
        %label(for="label2")インナー一覧
        %input(type="checkbox" id="label2")
        .aadd
          - @inners.each do |inner|
            .aahh
              = image_tag inner.inner
              = link_to "削除", inner_path(inner.id), method: :delete, class: "pic-btn"
      .aaff
        %label(for="label3")ボトム一覧
        %input(type="checkbox" id="label3")
        .aadd
          - @bottoms.each do |bottom|
            .aahh
              = image_tag bottom.bottom
              = link_to "削除", bottom_path(bottom.id), method: :delete, class: "pic-btn"
      .aaff
        %label(for="label4")靴一覧
        %input(type="checkbox" id="label4")
        .aadd
          - @shoes.each do |shoes|
            .aahh
              = image_tag shoes.shoe
              = link_to "削除", shoe_path(shoes.id), method: :delete, class: "pic-btn"
      .aaff
        %label(for="label5")帽子一覧
        %input(type="checkbox" id="label5")
        .aadd
          - @hats.each do |hat|
            .aahh
              = image_tag hat.hat
              = link_to "削除", hat_path(hat.id), method: :delete, class: "pic-btn"
      .aaff    
        %label(for="label6")アクセサリー一覧
        %input(type="checkbox" id="label6")
        .aadd
          - @accessories.each do |accessory|
            .aahhh
              = image_tag accessory.accessory
              = link_to "削除", accessory_path(accessory.id), method: :delete, class: "pics-btn"
.footer
  .select-field
    .detail
      = link_to "詳細", new_coordination_path, class: "show-btn"
    .my-pages
      = link_to "マイページ", "/users/new", class: "btns"