.lists
  .cloth
    = form_for @coordination do |f|
      = f.text_field :coordination, placeholder: "د همغږۍ نوم", class: "coordination-btn"
      = f.submit "作成", class: "add-btn"
    服一覧
    -# .adddd
    = form_for @outer do |f|
      = f.label :"アウター", class: "outer-btn"
      = f.file_field :outer, class: "file-btn"
      = f.submit "追加", class: "add-btn"
      
      
          
    = form_for @inner do |f|
      = f.label :"インナー", class: "inner-btn"
      = f.file_field :inner, class: "file-btn"
      = f.submit "追加", class: "add-btn"
      
          
    = form_for @bottom do |f|
      = f.label :"ボトム", class: "bottom-btn"
      = f.file_field :bottom, class: "file-btn"
      = f.submit "追加", class: "add-btn"
      
          
    = form_for @shoe do |f|
      = f.label :"シューズ", class: "shoe-btn"
      = f.file_field :shoe, class: "file-btn"
      = f.submit "追加", class: "add-btn"
      
          
    = form_for @hat do |f|
      = f.label :"ハット", class: "hat-btn"
      = f.file_field :hat, class: "file-btn"
      = f.submit "追加", class: "add-btn"
      
          
    = form_for @accessory do |f|
      = f.label :"アクセサリー", class: "accessory-btn"
      = f.file_field :accessory, class: "file-btn"
      = f.submit "追加", class: "add-btn"

    


.fots
  .fot
    = link_to "ホーム", coordinations_path, class: "send-btn"
    .add-btn
      追加
    .my-pages
      = link_to "マイページ", "/users/new", class: "btns"