-# .o
-#   o
.sss
  -# - binding.pry
  = @coordination.season
  = @coordination.coordination
  = @coordination.outer_id
  - if @outer != []
    = image_tag @outer.outer
  - else
    = "入力しろ"
  = @coordination.inner_id
  - if @inner != []
    = image_tag @inner.inner
  - else
    = "入力しろ"
  = @coordination.bottom_id
  - if @bottom != []
    = image_tag @bottom.bottom
  - else
    = "入力しろ"
  = @coordination.shoes_id
  - if @shoes != []
    = image_tag @shoes.shoes
  - else
    = "入力しろ"
  = @coordination.hat_id
  - if @hat != []
    = image_tag @hat.hat
  - else
    = "入力しろ"
  = @coordination.accessory_id
  - if @accessory != []
    = image_tag @accessory.accessory
  - else
    = "入力しろ"