.sss
  = @coordinations.find(params[:id]).season
  .sssaaa
    = @coordinations.find(params[:id]).coordination
    = link_to "編集", edit_coordination_path(@coordination.id), class: "update-btn"
    = link_to "削除", "/coordinations/#{@coordination.id}", method: :delete, class: "delete-btn"
  .sview
    .souter
      - if @outer != []
        = image_tag @outer.outer
        = "アウター"
      - else
        = "アウターの画像がありません"
    .sinner
      - if @inner != []
        = image_tag @inner.inner
        = "インナー"
      - else
        = "インナーの画像がありません"
    .sbottom
      - if @bottom != []
        = image_tag @bottom.bottom
        = "ズボン"
      - else
        = "ボトムの画像がありません"
    .sshoes
      - if @shoes != []
        = image_tag @shoes.shoe
        = "靴"
      - else
        = "靴の画像がありません"
    .shat
      - if @hat != []
        = image_tag @hat.hat
        = "帽子"
      - else
        = "帽子の画像がありません"
    .saccessory
      - if @accessory != []
        = image_tag @accessory.accessory
        = "アクセサリー"
      - else
        = "アクセサリーの画像がありません"
.ftftft
  .root-btns
    .root-btn
      = link_to "戻る", root_path, class: "roott"