.view-main
  .user
    = current_user.name
  = link_to "服一覧", root_path, class: "clothes-btn"

  -# = link_to "お気に入り一覧", "/coordinations/:coordination_id/favorites/new", class: "clothes-btn"
  = link_to "お気に入り一覧", "/coordinations/:coordination_id/favorites", class: "clothes-btn"
  
  = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'

.ftftft
  .root-btns
    .root-btn
      = link_to "戻る", root_path, class: "roott"
  